services:
  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    volumes:
      - open-webui:/app/backend.data
    environment:
      - 'WEBUI_SECRET_KEY='
      - 'TRAEFIK_HOST=openwebui.localhost'
      - 'NODE_OPTIONS=--max-old-space-size=4096'
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.rule=Host(`openwebui.localhost`)"
      - "traefik.http.routers.open-webui.entrypoints=web"
      - "traefik.http.services.open-webui.loadbalancer.server.port=8080"
    networks:
      - traefik_default
    deploy:
      resources:
        limits:
          memory: 4g
        reservations:
          memory: 2g

networks:
  traefik_default:
    external: true

volumes:
  open-webui: {}
